.about-header {
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)) , url("./../../static/images/aboutheader.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-info {
        color: white;
        text-align: center;
    }

    .header-info h1 {
        font-size: 6rem;
        margin: 0;
        color: white;
    }

    .header-info p {
        font-size: 1.25rem;
        font-style: italic;
        line-height: 1.8rem;
        width: 60%;
        margin: 0 auto;
        padding-bottom: 2rem;
        }
    }

.about-numbers {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .numbers-items {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            text-align: center;
        }

        .number {
            font-size: 8em;
            font-weight: bolder;
            color: var(--brand-green)
        }

        .number-p {
            font-size: 1.5em;
            margin-bottom: 2em;
        }
    }

.about-intro {
    width: 100%;
    height: 100vh;
    background: var(--brand-yellow);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

     h1 {
         font-size: 8rem;
         width: 80%;
         color: var(--brand-charcoal);
         text-align: center;
     }
}

.role-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 7rem;

    .our-role {
        padding: 0 3rem;
        width: 60%;
        margin: 2rem 2rem;
        }

        h1 {
            border-left: 3px solid var(--brand-green);
            padding-left: 2rem;
            font-size: 4rem;
        }
    
        h3 {
            text-transform: uppercase;
            font-weight: 400;
            padding: 1rem 0;
            font-size: 1.5rem;
        }
    
        p {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    
        .role-img {
            width: 500px;
            height: 500px;
            border-radius: 50%;
            

            &:hover {
                animation: pulse 1.5s infinite;
            }
        }
    }

.project-container {
    margin: 2rem 2rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    transition: 0.3s;

    &:hover {
        transform: translateY(-.5rem) scale(0.98);
    }

    .project-box{
        display: flex;
        width: auto;
        height: 500px;
    }

    .project-img {
        background-image: url("./../../static/images/car.jpeg");
        background-size: 100%;
        width: 50%;
    }

    .alternative-img {
        background-image: url("./../../static/images/hydrogen.jpeg");

    }

    .project-text {
        width: 50%;
        padding: 4rem 7rem;

    }

    h2 {
        font-size: 2rem;
    }

    h3 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.5rem;
            
        }

        p {
            width: 90%;
            font-size: 1.25rem;
            line-height: 1.5;
        }

    }

#about-hr {
    border: 0.5px solid var(--brand-charcoal);
    width: 95%;
}

// laptop responsive design ///////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
    .about-numbers {
        .number {
            font-size: 7rem;
        }

        .number-p {
            font-size: 1.25rem;
        }
    }

    .about-intro {
        h1 {
            font-size: 6rem;
        }
    }

    .role-container {
        .our-role {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .role-img {
            width: 350px;
            height: 350px;
        }
    }

    .project-container {
        p {
            font-size: .9rem;
            width: 100%;
        }
    }
}

// iphone responsive design ///////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
    .about-header {
        background-size: auto;

        .header-info h1 {
            font-size: 4rem;
        }
    
        .header-info p {
            font-size: 1rem;
            width: 80%;

            }
    }

    .about-numbers {
        flex-direction: column;
        height: auto;
        padding: 2em 0;

        .number {
            font-size: 6rem;
        }

        .number-p {
            font-size: 1rem;
        }
    }

    .about-intro {
        height: 70%;

        h1 {
            font-size: 3.5rem;
        }
    }

    .role-container {
        flex-direction: column;
        padding: 3em;

        .our-role {
        padding: 2em 0;
        margin: 0;
        width: 100%;

            h1 {
                font-size: 1.4rem;
            }

            p {
                font-size: .7rem;
            }
        }

        .role-img {
            width: 250px;
            height: 250px;
        }
    }

    .project-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        width: auto;
        padding: 0;
        margin: 2em 2em;

        .project-box {
            flex-direction: column-reverse;
        }

        .alternative {
            flex-direction: column;
        }

        h3 {
            font-size: .75em;
        }

        h2 {
            font-size: 1.5em;
        }

        p {
            font-size: .5em;
        }

        .project-text {
            padding: 0;
            width: 100%;
            padding: 2em;

        }

        .project-img {
            padding: 0;
            width: auto;
            height: 100%;
        }
    }
}

