.about-header {
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url("./../../static/images/aboutheader.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("./../../static/images/aboutheader.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-header .header-info {
  color: white;
  text-align: center;
}

.about-header .header-info h1 {
  font-size: 6rem;
  margin: 0;
  color: white;
}

.about-header .header-info p {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.8rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.about-numbers {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-numbers .numbers-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.about-numbers .number {
  font-size: 8em;
  font-weight: bolder;
  color: var(--brand-green);
}

.about-numbers .number-p {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.about-intro {
  width: 100%;
  height: 100vh;
  background: var(--brand-yellow);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-intro h1 {
  font-size: 8rem;
  width: 80%;
  color: var(--brand-charcoal);
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.role-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem 7rem;
}

.role-container .our-role {
  padding: 0 3rem;
  width: 60%;
  margin: 2rem 2rem;
}

.role-container h1 {
  border-left: 3px solid var(--brand-green);
  padding-left: 2rem;
  font-size: 4rem;
  margin-left: 0px;
  margin-right: 0px;
}

.role-container h3 {
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem 0;
  font-size: 1.5rem;
  margin-left: 0px;
  margin-right: 0px;
}

.role-container p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-left: 0px;
  margin-right: 0px;
}

.role-container .role-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.role-container .role-img:hover {
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

.project-container {
  margin: 2rem 2rem;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-container:hover {
  -webkit-transform: translateY(-0.5rem) scale(0.98);
          transform: translateY(-0.5rem) scale(0.98);
}

.project-container .project-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.project-container .project-img {
  background-image: url("./../../static/images/car.jpeg");
  background-size: 100%;
  width: 50%;
}

.project-container .alternative-img {
  background-image: url("./../../static/images/hydrogen.jpeg");
}

.project-container .project-text {
  width: 50%;
  padding: 4rem 7rem;
}

.project-container h2 {
  font-size: 2rem;
  margin-left: 0px;
  margin-right: 0px;
}

.project-container h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 0px;
  margin-right: 0px;
}

.project-container p {
  width: 90%;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-left: 0px;
  margin-right: 0px;
}

#about-hr {
  border: 0.5px solid var(--brand-charcoal);
  width: 95%;
}

@media (max-width: 1280px) {
  .about-numbers .number {
    font-size: 7rem;
  }
  .about-numbers .number-p {
    font-size: 1.25rem;
  }
  .about-intro h1 {
    font-size: 6rem;
    margin-left: 0px;
    margin-right: 0px;
  }
  .role-container .our-role h1 {
    font-size: 2rem;
    margin-left: 0px;
    margin-right: 0px;
  }
  .role-container .our-role p {
    font-size: 1rem;
    margin-left: 0px;
    margin-right: 0px;
  }
  .role-container .role-img {
    width: 350px;
    height: 350px;
  }
  .project-container p {
    font-size: .9rem;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 414px) {
  .about-header {
    background-size: auto;
  }
  .about-header .header-info h1 {
    font-size: 4rem;
  }
  .about-header .header-info p {
    font-size: 1rem;
    width: 80%;
  }
  .about-numbers {
    height: auto;
    padding: 2em 0;
  }
  .about-numbers .number {
    font-size: 35px;
  }
  .about-numbers .number-p {
    font-size: 11px;
  }
  .about-intro {
    height: 70%;
  }
  .about-intro h1 {
    font-size: 3.5rem;
  }
  .role-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3em;
  }
  .role-container .our-role {
    padding: 2em 0;
    margin: 0;
    width: 100%;
  }
  .role-container .our-role h1 {
    font-size: 1.4rem;
  }
  .role-container .our-role p {
    font-size: .7rem;
  }
  .role-container .role-img {
    width: 250px;
    height: 250px;
  }
  .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    width: auto;
    padding: 0;
    margin: 2em 2em;
  }
  .project-container .project-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .project-container .alternative {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-container h3 {
    font-size: .75em;
    margin-left: 0px;
    margin-right: 0px;
  }
  .project-container h2 {
    font-size: 1.5em;
    margin-left: 0px;
    margin-right: 0px;
  }
  .project-container p {
    font-size: .5em;
    margin-left: 0px;
    margin-right: 0px;
  }
  .project-container .project-text {
    padding: 0;
    width: 100%;
    padding: 2em;
  }
  .project-container .project-img {
    padding: 0;
    width: auto;
    height: 100%;
  }
}
/*# sourceMappingURL=about.css.map */