#section-atmosphere{

    
    h1{
        text-align: center;
    } 

    .atmosphere-background {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top:0;
        background: url('./../../static/images/background-stars.png');
        background-size: cover;
        z-index: -1;
       // this will animate out to fillscreen later.
    }

    .space {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: min(75vw, 75vh);
        height: min(75vw, 75vh);
        border-radius: 50%;
        text-align: center;
         
    }


    .earth {
        position: absolute;
        background: url('./../../static/images/earth.png');
        background-size: cover;
        width: 25%;
        height: 25%;
        left: 37.5%;
        top: 35%;
        z-index: 5;

    }

    
    .atmosphere {
        position: absolute;
        background: url('./../../static/images/atmosphere.png');
        background-size: contain;
        width: 45%;
        height: 45%;
        left: 27.5%;
        top: 25%;
        z-index: 2;
    }



}

#atmosphere-content {


    #atmosphere-body-text{

        // background-color: purple;
        padding: 2em;
        // margin-left: 10%;
        // margin-right: 10%;
    }

   



}

