.careers-header {
  width: 100%;
  height: 40vh;
  margin: 0;
  padding: 0;
  border: 1px solid hotpink;
  /*  background:url("/static/images/turbines.jpeg"); */
}

.careers-header .header-info {
  text-align: center;
  padding: 5rem 0rem;
}

.careers-header .header-info h1 {
  font-size: 6rem;
  margin: 0;
}

.careers-header .header-info p {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.8rem;
  width: 35%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.careers-header .down-arrow {
  color: red;
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
}

@-webkit-keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

.careers-information {
  border: 1px solid red;
  margin: 1rem 0rem;
}

.careers-information .careers-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.careers-information .careers-box {
  width: 50%;
  padding: 1rem 3rem;
}

.careers-information h2 {
  text-align: center;
  padding: 3rem 0rem;
  font-size: 2rem;
}

.careers-information h3 {
  font-style: italic;
  font-size: 1.5rem;
}

.careers-information p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.careers-testimonials {
  border: 1px solid red;
}

.careers-testimonials h2 {
  font-size: 2rem;
  text-align: center;
  padding: 3rem 0 1rem 0;
}

.careers-testimonials hr {
  border-top: 1px solid black;
  width: 100px;
  margin: 3rem;
  margin: 0 auto;
}

.careers-testimonials .testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.careers-testimonials .testimonials-boxes {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.careers-testimonials .border-right {
  border-right: 1px solid red;
}

.careers-testimonials p {
  width: 50%;
  font-size: 1rem;
  line-height: 1.5rem;
}

.careers-testimonials .testimonials-img {
  width: 80px;
  height: 80px;
  background: red;
  border-radius: 50%;
  margin-top: 4rem;
}

.careers-testimonials h4 {
  margin: 0;
}

.careers-testimonials h5 {
  font-weight: 400;
}
/*# sourceMappingURL=careers.css.map */