
.careers-header {
    width: 100%;
    height: 40vh;
    margin: 0;
    padding: 0;
    border: 1px solid hotpink;
/*  background:url("/static/images/turbines.jpeg"); */

    .header-info {
        text-align: center;
        padding: 5rem 0rem;
    }

    .header-info h1 {
        font-size: 6rem;
        margin: 0;
    }

    .header-info p {
        font-size: 1.25rem;
        font-style: italic;
        line-height: 1.8rem;
        width: 35%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    .down-arrow {
        color: red;
        animation: bounce 1s linear;
      }

      @keyframes bounce {
          20%, 50%, 80%, to {
              transform: translateY(0);
          }
          40%{
              transform: translateY(-30px);
          }
          70%{
              transform: translateY(-15px);
          }
          90%{
              transform: translateY(-4px);
          }
          
      }

}

.careers-information {
    border: 1px solid red;
    margin: 1rem 0rem;

    .careers-boxes-container {
        display: flex;
    }

    .careers-box {
        width: 50%;
        padding: 1rem 3rem;
    }

    h2 {
        text-align: center;
        padding: 3rem 0rem;
        font-size: 2rem;
    }

    h3 {
        font-style: italic;
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
}

.careers-testimonials {
    border: 1px solid red;

    h2 {
        font-size: 2rem;
        text-align: center;
        padding: 3rem 0 1rem 0;

    }

    hr {
        border-top: 1px solid black;
        width: 100px;
        margin: 3rem;
        margin: 0 auto;
    }

    .testimonials-container {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .testimonials-boxes {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .border-right {
        border-right: 1px solid red;
    }

    p {
        width: 50%;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .testimonials-img {
        width: 80px;
        height: 80px;
        background: red;
        border-radius: 50%;
        margin-top: 4rem;
    }

    h4 {
        margin: 0;
    }

    h5 {
        font-weight: 400;
    }
}

.careers-flex {
    display: flex;
    flex-direction: row;
    border: 1px solid hotpink;
    justify-content: center;
    margin-top: 1rem;

    p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0 auto;
    }

    .careers-flex-left, .careers-flex-right {
        width: 30%;
    }
}