#chat {
    position: absolute;
    background-color: #55555511;
    bottom: 150px;
    top: 150px;
    right: 20px;
    height: 500px;
    width: 200px;

    display:  flex;
    flex-direction: column;
    align-content: flex-end;
    
}

