.hide {
    display: none;
}


.space-template {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: min(75vw, 75vh);
    height: min(75vw, 75vh);
    border-radius: 50%;
    text-align: center;
     
}

.home-section {
    // the landing page and main interactive component of the website
    height: 100vh;    

    h1 {
        color: var(--brand-color); 
        text-align: center;
        margin-top: 0.5em;
        z-index: 6;
    }

    #section1 {
        
        position: absolute;
        display: none;
        
    }

    .space {
        @extend .space-template;
         
    }

    .space-background {
        position: absolute;
        background: url('./../../static/images/background-stars.png');
        background-size: cover;
        z-index: 0;
        transition: all 500ms ease-in-out;
       // this will animate out to fillscreen later.
    }

    // animated out to fullscreen.

    .space-background-small {
        border-radius: 50%;
        width: min(75vw, 75vh);
        height: min(75vw, 75vh);
        left: calc(50% - (min(75vw, 75vh)/2)); 
    }

    .space-background-enlarged {
        
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }


    .earth {
        position: absolute;
        background: url('./../../static/images/earth.png');
        background-size: cover;
        width: 25%;
        height: 25%;
        left: 37.5%;
        top: 35%;
        z-index: 5;

    }

    
    .astronaut {
        --swing-radius: 40vh; 
        --top-position: 40vh;
        position: absolute;
        background: url('./../../static/images/astronaut.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 18%;
        height: 25%;
        left: 45%;
        top: 59%;
        z-index: 4;
        animation: swing 5s infinite ease-in-out;
        transform-origin:  top center;

        &:hover {
            cursor: pointer;
        }

    }

    @keyframes swing {
        0%{transform:rotate(-7deg)}
        50%{transform:rotate(7deg)}
        100%{transform:rotate(-7deg)}
    }


    .atmosphere {
        position: absolute;
        background: url('./../../static/images/atmosphere.png');
        background-size: contain;
        width: 45%;
        height: 45%;
        left: 27.5%;
        top: 25%;
        z-index: 2;
    }

    .speech-bubble{
        position: absolute;
        width: 40%;
        left: 60%;
        top: 65%;
        z-index: 2;
        transition: all 0.4s ease-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

 

    // section 1 bubble 1
    #bubble1 {
        @extend .speech-bubble;
          
    }



    // section 1 bubble 2
    #bubble2 {
        @extend .speech-bubble;
        
    }

}


// ----- section 2 - atmosphere -----------------
#section2 {
    position: absolute;
    top: 0;
    width: 100vw;
    // display: none;
    
}

.cloud {
    @extend .space;
    background: url('./../../static/images/cloud-round.png');
    background-size: cover;
    border-radius: 0;
    z-index: 5;

}


.astronaut2 {

    --swing-radius: 40vh; 
    --top-position: 40vh;
    position: absolute;
    background: url('./../../static/images/astronaut.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18%;
    height: 25%;
    left: 71%;
    top: 51.5%;
    z-index: 4;
    animation: swing 5s infinite ease-in-out;
    transform-origin:  29% 0%;

    &:hover {
        cursor: pointer;
    }



}

#bubble3 {
    position: absolute;
    width: 40%;
    left: 87%;
    top: 55%;
    z-index: 6;

    &:hover {
        cursor: pointer;
    }
}



// --- section 3  - wind power -----------------------------

#section3 {
    position: absolute;
    top: 0;
    width: 100vw;    
}

.windpower {
    @extend .space;
    background: url('./../../static/images/windpower.png');
    background-size: cover;
    border-radius: 0;
    z-index: 5;
}


.astronaut3 {
    --swing-radius: 40vh; 
    --top-position: 40vh;
    position: absolute;
    background: url('./../../static/images/astronaut.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18%;
    height: 25%;
    left: 44.5%;
    top: 41.5%;
    z-index: 4;
    animation: swing 5s infinite ease-in-out;
    transform-origin:  29% 0%;

    &:hover {
        cursor: pointer;
    }
}

#bubble4 {
    position: absolute;
    width: 38%;
    left: 60%;
    top: 45%;
    z-index: 6;

    &:hover {
        cursor: pointer;
    }

}


// --- section 4 - solar power -----------------------------

#section4 {
    position: absolute;
    top: 0;
    width: 100vw;    

    .solarpower {

        // circular sky image in the middle of the screen 
        @extend .space-template;
        background: url('./../../static/images/blue_sky_background.png');
        background-size: cover;
        border-radius: 0;
        z-index: 5;

        // alt image of the astronaut with the sun glare off of his visor
        .astronaut4 {
            --swing-radius: 40vh; 
            --top-position: 40vh;
            position: absolute;
            background: url('./../../static/images/astronaut_solar.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 18%;
            height: 20%;
            left: 46%;
            top: 38.5%;
            z-index: 4;
            animation: swing 5s infinite ease-in-out;  // swing from the sun
            transform-origin:  29% 0%;
            &:hover {
                cursor: pointer;
            }
        }

        // image of the radiating sun 
        #sun {
            position: absolute;
            height: 50%;
            width: 35%;
            left: 33%;
            top: 14%;
            z-index: 5;
            background: url('./../../static/images/solar.png');
            background-size: contain;
            background-repeat: no-repeat;
            &:hover {
                cursor: pointer;
            }
        }
    
        // click me to lean more about solar power
        #bubble5 {
            position: absolute;
            width: 35%;
            left: 60%;
            top: 40%;
            z-index: 6;
            transition: all 0.4s ease-out;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

    }

}

// --- section 5 - fossil fuels -----------------------------
#section5 {
    position: absolute;
    top: 0;
    width: 100vw;


    .fossilfuels {

        // circular sky image in the middle of the screen 
        @extend .space-template;
        background: url('./../../static/images/background_fossilfuels.png');
        background-size: cover;
        border-radius: 0;
        z-index: 5;

        // alt image of the astronaut with the sun glare off of his visor
        .astronaut5 {
            --swing-radius: 40vh; 
            --top-position: 40vh;
            position: absolute;
            background: url('./../../static/images/astronaut.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 18%;
            height: 20%;
            left: 46%;
            top: 44%;
            z-index: 4;
            animation: swing 5s infinite ease-in-out;  // swing from the sun
            transform-origin:  29% 0%;
            &:hover {
                cursor: pointer;
            }
        }

        // image of the radiating sun 
        #smog {
            position: absolute;
            height: 50%;
            width: 35%;
            left: 33%;
            top: 14%;
            z-index: 5;
            background: url('./../../static/images/smog.png');
            background-size: contain;
            background-repeat: no-repeat;
            &:hover {
                cursor: pointer;
            }
        }
    
        // click me to lean more about solar power
        #bubble6 {
            position: absolute;
            width: 35%;
            left: 62%;
            top: 43%;
            z-index: 6;
            transition: all 0.4s ease-out;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

    }
}



// --- section 6 - hydrogen  -----------------------------
#section6 {
    position: absolute;
    top: 0;
    width: 100vw;
    h1 {
        color: var(--brand-charcoal);
    }

    .hydrogen {

        // circular sky image in the middle of the screen 
        @extend .space-template;
        background: url('./../../static/images/blue_sky_background.png');
        background-size: cover;
        border-radius: 0;
        z-index: 5;

        // alt image of the astronaut with the sun glare off of his visor
        .astronaut6 {
            --swing-radius: 40vh; 
            --top-position: 40vh;
            position: absolute;
            background: url('./../../static/images/astronaut_solar.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 18%;
            height: 20%;
            left: 58%;
            top: 48%;
            z-index: 6;
            animation: swing 5s infinite ease-in-out;  // swing from the sun
            transform-origin:  29% 0%;
            &:hover {
                cursor: pointer;
            }
        }

        // image of the radiating sun 
        #h2o {
            position: absolute;
            height: 50%;
            width: 35%;
            left: 33%;
            top: 25%;
            z-index: 6;
            background: url('./../../static/images/h2o_cloud.png');
            background-size: contain;
            background-repeat: no-repeat;
            &:hover {
                cursor: pointer;
            }
        }
    
        // click me to lean more about solar power
        #bubble7 {
            position: absolute;
            width: 35%;
            left: 73%;
            top: 50%;
            z-index: 6;
            transition: all 0.4s ease-out;
            &:hover {
                cursor: pointer;
                // cursor: url('./../../static/images/cursor_planet.png');   is not working. Unable to make a custom mouse pointer.
                transform: scale(1.1);
            }
        }
    }
}




// --- section 7 - nuclear  -----------------------------
#section7 {
    position: absolute;
    top: 0;
    width: 100vw;
    h1 {
        color: var(--brand-charcoal);
    }

    .nuclear {

        // circular sky image in the middle of the screen 
        @extend .space-template;
        background: url('./../../static/images/blue_sky_background.png');
        background-size: cover;
        border-radius: 0;
        z-index: 5;

        // alt image of the astronaut with the sun glare off of his visor
        .astronaut7 {
            --swing-radius: 40vh; 
            --top-position: 40vh;
            position: absolute;
            background: url('./../../static/images/astronaut_solar.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 18%;
            height: 20%;
            left: 58%;
            top: 48%;
            z-index: 6;
            animation: swing 5s infinite ease-in-out;  // swing from the sun
            transform-origin:  29% 0%;
            &:hover {
                cursor: pointer;
            }
        }

        // image of the radiating sun 
        #nuclear-cloud {
            position: absolute;
            height: 50%;
            width: 35%;
            left: 33%;
            top: 25%;
            z-index: 6;
            background: url('./../../static/images/h2o_cloud.png');
            background-size: contain;
            background-repeat: no-repeat;
            &:hover {
                cursor: pointer;
            }
        }
    
        // click me to lean more about solar power
        #bubble8 {
            position: absolute;
            width: 35%;
            left: 73%;
            top: 50%;
            z-index: 6;
            transition: all 0.4s ease-out;
            &:hover {
                cursor: pointer;
                // cursor: url('./../../static/images/cursor_planet.png');   is not working. Unable to make a custom mouse pointer.
                transform: scale(1.1);
            }
        }
    }
}

// --- section 8 - game (before minji interaction)  -----------------------------
#section8-game {

    position: absolute;
    top: 0;
    width: 100vw;
    h1 {
        color: var(--brand-charcoal);
    }
    .game {

        // circular sky image in the middle of the screen 
        @extend .space-template;
        background: url('./../../static/images/blue_sky_background.png');
        background-size: cover;
        border-radius: 0;
        z-index: 5;

        // alt image of the astronaut with the sun glare off of his visor
        .astronaut-play {
            --swing-radius: 40vh; 
            --top-position: 40vh;
            position: absolute;
            background: url('./../../static/images/astronaut_solar.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 18%;
            height: 20%;
            left: 55%;
            top: 46%;
            z-index: 6;
            animation: swing 5s infinite ease-in-out;  // swing from the sun
            transform-origin:  29% 0%;
            &:hover {
                cursor: pointer;
            }
        }

        // image of the radiating sun 
        #game-controller {
            position: absolute;
            height: 50%;
            width: 35%;
            left: 33%;
            top: 25%;
            z-index: 6;
            background: url('./../../static/images/game-controller.png');
            background-size: contain;
            background-repeat: no-repeat;
            &:hover {
                cursor: pointer;
            }
        }
    
        // click me to lean more about solar power
        #bubble-play {
            position: absolute;
            width: 42%;
            left: 71%;
            top: 45%;
            z-index: 6;
            transition: all 0.4s ease-out;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}

// --- section 8 - game (before minji interaction)  -----------------------------
#section9-ask {

    position: absolute;
    top: 0;
    width: 100vw;
    h1 {
        color: var(--brand-charcoal);
    }
    .ask {

        // circular sky image in the middle of the screen 
        @extend .space-template;
        background: url('./../../static/images/blue_sky_background.png');
        background-size: cover;
        border-radius: 0;
        z-index: 5;

        // image of the radiating sun 
        #questionmark {
            position: absolute;
            height: 40%;
            width: 35%;
            left: 35%;
            top: 10%;
            z-index: 6;
            background: url('./../../static/images/questionmark.png');
            background-size: contain;
            background-repeat: no-repeat;
            &:hover {
                cursor: pointer;
            }
        }
                  

        // alt image of the astronaut with the sun glare off of his visor
        .astronaut-ask {
            --swing-radius: 40vh; 
            --top-position: 40vh;
            position: absolute;
            background: url('./../../static/images/astronaut_solar.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 18%;
            height: 20%;
            left: 52%;
            top: 49%;
            z-index: 5;
            animation: swing 5s infinite ease-in-out;  // swing from the sun
            transform-origin:  29% 0%;
            &:hover {
                cursor: pointer;
            }
        }

        // click me to lean more about solar power
        #bubble-question {
            position: absolute;
            width: 45%;
            left: 68%;
            top: 50%;
            z-index: 6;
            transition: all 0.4s ease-out;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}






