.flex-container {
    display:  flex;
    flex-direction: row;
    justify-content: space-around;   

    border: 1px dashed lightpink

}

.profile-pannel {

    width: 30%;
    

    .form-wrapper {
        display: inline-block;
        margin-left: auto;
        margin-right:  auto;
        width: 80% ;
        text-align: left;
        align-self: center;
        
    }


}