
.profile-wrapper {
    display: flex;
    min-width: 50%;
    max-width:fit-content;
    
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px #666;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    flex-direction: column;
    z-index: 10;

    // undo the formatting that was placed in _base.scss
    p, h1, h2, h3, h4, h5, h6 {
        margin-left: 0;
        margin-right: 0;
    } 

    .profile-header {
        text-align: center;
        display: flex;
        justify-content: space-between;

        h1 {
            text-align: center;
            font-size: 50px;
            padding-top: 10px;   
            display: inline-block;
        }
    }

    .profile-body {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: stretch;
        align-content: stretch;


        .flex-item{
            // flex-grow: 1;
            width: 50%;
        }


        .profile-form {
            @extend .flex-item;
            padding: 1em;
            // max-width: 90%;
            min-width: 450px;

            tr {
                vertical-align: top;
            }
        }

        .avatar-wrapper{
            @extend .flex-item;
            padding: 1em;
            max-width: 90%;
            min-width: 30%;
            text-align: center;
        }

        .input-group {
            max-width: 95%;
        }

        #base64image {
            display: inline-block;
            width: 300px;
            height: 300px;
            margin-top: auto;
            margin-bottom: auto;
            object-fit: cover;
            border-radius: 50%;
            transition: all 1s ease-in;

        }

        .base64image-thumbnail {
            display: inline-block;
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
            transition: all 1s ease-in;

          }

          
    



    }
    

}


// RESPONSIVE -  tablet or less ------------------
@media all and (max-width: 1280px){ 
  
    .profile-wrapper {
      width: 100%;
      min-width: 100%;  
      max-width: 100%;
      height: 100%;
      .profile-body {
        flex-direction: row;
        }
    }

    #base64image {
        display: inline-block;
        width: 200px;
        height: 200px;
    }
}


// RESPONSIVE - mobile or less -------------------
@media all and (max-width: 768px){ 

    .profile-wrapper {
      width: 100%;
      min-width: 100%;  
      max-width: 100%;
      height: 100%;
      .profile-body {
        flex-direction: column;
      }
  
    }
    #base64image {
        display: inline-block;
        width: 150px;
        height: 150px;
        align-self: center;
        
    }

    .avatar-wrapper {
        width: 100%;
        min-width: 100%;  
        max-width: 100%;
        order: 1;
        text-align: center;
        
    }
    .profile-form {
        order: 2;
    }


}

  





